<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_shengji_wz1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{622,268}}</string>
                <key>offset</key>
                <string>{-78,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,435},{622,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,288}}</string>
                <key>offset</key>
                <string>{124,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,327},{776,288}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{650,250}}</string>
                <key>offset</key>
                <string>{187,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,327},{650,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,253},{646,250}}</string>
                <key>offset</key>
                <string>{189,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,327},{646,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,245},{580,248}}</string>
                <key>offset</key>
                <string>{222,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,328},{580,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{596,242}}</string>
                <key>offset</key>
                <string>{214,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,334},{596,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,494},{534,228}}</string>
                <key>offset</key>
                <string>{205,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,353},{534,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{528,236}}</string>
                <key>offset</key>
                <string>{211,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,349},{528,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,504},{522,244}}</string>
                <key>offset</key>
                <string>{214,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,345},{522,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,582},{452,208}}</string>
                <key>offset</key>
                <string>{244,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{530,363},{452,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengji_wz1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{390,208}}</string>
                <key>offset</key>
                <string>{213,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{530,363},{390,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_shengjiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,291},{290,114}}</string>
                <key>offset</key>
                <string>{28,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,483},{290,114}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>UI_sjtx000.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1035},{252,214}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,319},{252,214}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1701},{348,344}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,251},{348,344}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx002.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1671},{370,366}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,241},{370,366}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1132},{382,378}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,234},{382,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx004.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,749},{382,380}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,233},{382,380}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1515},{382,378}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,234},{382,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx006.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1310},{384,382}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,232},{384,382}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,723},{380,378}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,234},{380,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx008.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1671},{370,366}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,241},{370,366}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,749},{382,378}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,234},{382,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx010.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1288},{382,380}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,233},{382,380}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>UI_sjtx011.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1132},{382,378}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,234},{382,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>upgreat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_shengji.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a664924119a26b12421cb0a19504a0a6$</string>
            <key>textureFileName</key>
            <string>UI_shengji.png</string>
        </dict>
    </dict>
</plist>
