<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js_jinpinzhi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{197,225}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,128},{197,225}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{201,225}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,130},{201,225}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,625},{197,225}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,128},{197,225}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{203,227}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,128},{203,227}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,221}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,132},{205,221}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,201},{201,221}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,129},{201,221}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,426},{199,225}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,128},{199,225}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,201},{197,227}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,128},{197,227}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,428},{197,225}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,128},{197,225}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{199,225}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,128},{199,225}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,201},{201,225}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,129},{201,225}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_jinpinzhi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{199,227}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,128},{199,227}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{167,187}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,142},{167,187}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,609},{165,187}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,141},{165,187}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,169},{163,185}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,143},{163,185}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,422},{165,187}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,141},{165,187}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,822},{169,187}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,141},{169,187}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{167,189}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,141},{167,189}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,651},{169,189}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,142},{169,189}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,822},{167,189}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,142},{167,189}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,422},{165,185}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,143},{165,185}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,587},{163,181}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,148},{163,181}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,840},{165,179}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,149},{165,179}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>js_zipinzhi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,774},{163,181}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,147},{163,181}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Js_pinzhi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92b7aee0b47d43ebf69921cf52ea4e5f$</string>
            <key>textureFileName</key>
            <string>Js_pinzhi.png</string>
        </dict>
    </dict>
</plist>
