<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_jncd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{143,143}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,175},{143,143}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_jncd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,169},{145,141}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,178},{145,141}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_jncd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,28},{145,143}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,176},{145,143}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_jncd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,28},{147,141}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,178},{147,141}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_jncd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{147,143}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,176},{147,143}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_jncd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{143,141}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,177},{143,141}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_nlcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,26}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,458},{458,26}}</string>
                <key>sourceSize</key>
                <string>{942,942}</string>
            </dict>
            <key>zd_nlq0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,31},{73,69}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,192},{73,69}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_nlq0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,171},{75,73}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,189},{75,73}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_nlq0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,246},{75,71}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,191},{75,71}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_nlq0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,171},{77,75}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,188},{77,75}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_nlq0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,427},{73,79}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,183},{73,79}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_nlq0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,427},{75,81}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,180},{75,81}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_sjnl0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,310},{107,117}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,197},{107,117}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_sjnl0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,314},{127,89}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,206},{127,89}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_sjnl0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,104},{69,67}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,221},{69,67}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>zd_sjnl0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{29,33}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,240},{29,33}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zd_zhgjn.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f8e5b6036b3b9c41e0fa380ff1137a8$</string>
            <key>textureFileName</key>
            <string>zd_zhgjn.png</string>
        </dict>
    </dict>
</plist>
