<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E_die_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,420},{83,89}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,238},{83,89}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,312},{107,119}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,210},{107,119}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{125,157}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,171},{125,157}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,164},{147,165}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,160},{147,165}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,128},{155,175}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,150},{155,175}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,183}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,142},{161,183}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{161,179}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,141},{161,179}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{161,177}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,142},{161,177}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{139,167}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,141},{139,167}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,304},{115,155}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,141},{115,155}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
            <key>E_die_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,420},{79,133}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,142},{79,133}}</string>
                <key>sourceSize</key>
                <string>{497,497}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sub_die.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd55a7366e212043ded3a6123b658105$</string>
            <key>textureFileName</key>
            <string>sub_die.png</string>
        </dict>
    </dict>
</plist>
