<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sub_xxbao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,184},{30,26}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,129},{30,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sub_xxbao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{62,60}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,108},{62,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sub_xxbao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{84,80}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,95},{84,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sub_xxbao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{88,86}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,91},{88,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sub_xxbao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{94,88}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{94,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sub_xxbao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{98,92}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,87},{98,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sub_xxbao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,88}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,85},{102,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sub_xxbao.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a664e552d8fb823fb233bc0382f8d6c$</string>
            <key>textureFileName</key>
            <string>sub_xxbao.png</string>
        </dict>
    </dict>
</plist>
