<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zh_0003_ZH_systz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{485,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,372}}</string>
                <key>sourceSize</key>
                <string>{485,372}</string>
            </dict>
            <key>zh_sys_jj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{180,288}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{180,288}}</string>
                <key>sourceSize</key>
                <string>{180,320}</string>
            </dict>
            <key>zh_sys_jj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,366},{180,288}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{180,288}}</string>
                <key>sourceSize</key>
                <string>{180,320}</string>
            </dict>
            <key>zh_sys_jj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,324},{180,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,320}}</string>
                <key>sourceSize</key>
                <string>{180,320}</string>
            </dict>
            <key>zh_sys_jj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,184},{180,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,320}}</string>
                <key>sourceSize</key>
                <string>{180,320}</string>
            </dict>
            <key>zh_sys_jj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{180,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,320}}</string>
                <key>sourceSize</key>
                <string>{180,320}</string>
            </dict>
            <key>zh_sys_jj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{180,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,320}}</string>
                <key>sourceSize</key>
                <string>{180,320}</string>
            </dict>
            <key>zh_sys_jjxx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{150,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,270}}</string>
                <key>sourceSize</key>
                <string>{150,270}</string>
            </dict>
            <key>zh_sys_jjxx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{150,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,270}}</string>
                <key>sourceSize</key>
                <string>{150,270}</string>
            </dict>
            <key>zh_sys_jjxx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,648},{150,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,270}}</string>
                <key>sourceSize</key>
                <string>{150,270}</string>
            </dict>
            <key>zh_sys_jjxx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,548},{150,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,270}}</string>
                <key>sourceSize</key>
                <string>{150,270}</string>
            </dict>
            <key>zh_sys_jjxx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{150,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,270}}</string>
                <key>sourceSize</key>
                <string>{150,270}</string>
            </dict>
            <key>zh_sys_jjxx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,376},{150,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,270}}</string>
                <key>sourceSize</key>
                <string>{150,270}</string>
            </dict>
            <key>zh_sys_xx20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,646},{126,156}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,57},{126,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zh_sys_xx20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,646},{128,156}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,57},{128,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zh_sys_xx20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,700},{126,152}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,61},{126,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zh_sys_xx20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,700},{126,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,58},{126,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zh_sys_xx20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,828},{124,138}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,57},{124,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zh_sys_xx20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,776},{124,136}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,53},{124,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zh_sys_xx20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,804},{120,130}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,53},{120,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zh_sys_xx20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,838},{120,130}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,62},{120,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zh_sys3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5362b1d8c7f9b6dcf4df736f1bb51c57$</string>
            <key>textureFileName</key>
            <string>zh_sys3.png</string>
        </dict>
    </dict>
</plist>
