<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zh_0000_ZH_sysgd.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,789},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>zh_0001_ZH_sysnl.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,553},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>zh_0004_ZH_sysgzg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,785},{118,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,173}}</string>
                <key>sourceSize</key>
                <string>{118,173}</string>
            </dict>
            <key>zh_0005_ZH_syspt.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,862},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>zh_0006_ZH_sysgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,423},{125,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,190}}</string>
                <key>sourceSize</key>
                <string>{125,190}</string>
            </dict>
            <key>zh_0007_ZH_sysd.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{419,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,235}}</string>
                <key>sourceSize</key>
                <string>{419,235}</string>
            </dict>
            <key>zh_0008_ZH_sysbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1020}}</string>
                <key>sourceSize</key>
                <string>{720,1020}</string>
            </dict>
            <key>zh_sys_llxx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,615},{168,128}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{168,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zh_sys_yan10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,960},{80,46}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,123},{80,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,954},{126,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,116},{126,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,703},{150,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,108},{150,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,605},{168,96}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,101},{168,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,423},{180,104}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,97},{180,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,789},{44,120}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,81},{44,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,266},{52,130}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,83},{52,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,134},{54,130}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,87},{54,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,423},{56,128}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,92},{56,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{56,130}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,94},{56,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>zh_sys_yan20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,911},{50,110}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,108},{50,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zh_sys1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e05db881dc562489ee64f461c2ab200$</string>
            <key>textureFileName</key>
            <string>zh_sys1.png</string>
        </dict>
    </dict>
</plist>
