<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_guajitx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,330},{182,154}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,172},{182,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zd_guajitx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{186,166}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,165},{186,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zd_guajitx03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{186,166}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,167},{186,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zd_guajitx04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{188,162}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,166},{188,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zd_guajitx05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,164}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,169},{192,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zd_guajitx06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,170},{190,158}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,172},{190,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zd_guajitx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3bb8bf6c658bc95070624caa31ddf17$</string>
            <key>textureFileName</key>
            <string>zd_guajitx.png</string>
        </dict>
    </dict>
</plist>
