<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>R_cjdc_2tx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,408},{174,102}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,80},{174,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{188,100}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,83},{188,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{198,96}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,89},{198,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{204,96}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,90},{204,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,406},{210,104}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,82},{210,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{210,106}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,79},{210,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{218,106}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,77},{218,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{224,102}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,77},{224,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,208},{180,96}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,74},{180,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,222},{182,96}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,73},{182,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,214},{180,104}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,73},{180,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_2tx0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,390},{178,108}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,73},{178,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_tx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,228},{170,178}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{170,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_tx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,202},{164,170}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{164,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_tx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,100},{162,166}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,38},{162,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_tx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,374},{130,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,58},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_tx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,100},{96,96}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{96,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_tx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{68,76}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,89},{68,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>R_cjdc_tx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{46,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,101},{46,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chengjiu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,122}}</string>
                <key>sourceSize</key>
                <string>{405,122}</string>
            </dict>
            <key>chengjiu_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_cjdc.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50e64dac8942472b84fc10ce7e097166$</string>
            <key>textureFileName</key>
            <string>UI_cjdc.png</string>
        </dict>
    </dict>
</plist>
