<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kq_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{376,276}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{376,276}}</string>
                <key>sourceSize</key>
                <string>{380,276}</string>
            </dict>
            <key>kq_di_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{324,334}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{324,334}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{324,334}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{324,334}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,334}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{324,334}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{314,320}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,41},{314,320}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,280},{188,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,106},{188,182}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,796},{158,142}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,126},{158,142}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,920},{104,74}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,147},{104,74}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,904},{106,56}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,145},{106,56}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,904},{102,52}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,150},{102,52}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,796},{106,54}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,147},{106,54}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_di_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,796},{106,60}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,141},{106,60}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,796},{152,162}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,111},{152,162}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,464},{166,160}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,116},{166,160}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,324},{170,156}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,123},{170,156}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,488},{170,152}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,129},{170,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,324},{162,166}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,115},{162,166}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,616},{152,170}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,109},{152,170}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,626},{152,168}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,108},{152,168}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,280},{166,164}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,106},{166,164}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,642},{166,152}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,103},{166,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,496},{166,152}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,100},{166,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,446},{160,168}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,99},{160,168}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_dixx_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,770},{148,170}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,102},{148,170}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>kq_msz.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,960},{256,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{256,54}}</string>
                <key>sourceSize</key>
                <string>{422,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_kqxgn.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:080a3b630c4c04e61ec19b03008368d2$</string>
            <key>textureFileName</key>
            <string>UI_kqxgn.png</string>
        </dict>
    </dict>
</plist>
