<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fb_boss_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,810},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,608},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,406},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,204},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_boss_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,168},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fb_boss.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62842c4e3e37cd80230fdeef40c3b3bd$</string>
            <key>textureFileName</key>
            <string>fb_boss.png</string>
        </dict>
    </dict>
</plist>
