<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_cx0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{132,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{179,887},{132,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{496,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{489,919},{496,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{486,210}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1105},{486,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{466,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{489,1127},{466,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{176,186}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{657,731},{176,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{176,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,887},{176,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{174,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{313,915},{174,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,8}</string>
                <key>spriteSize</key>
                <string>{172,186}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{835,731},{172,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,8}</string>
                <key>spriteSize</key>
                <string>{172,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{483,731},{172,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{166,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{315,731},{166,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{151,731},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cx0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,731},{148,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{152,1},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{303,1},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{454,1},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{605,1},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{756,1},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{152,147},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{303,147},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{454,147},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{605,147},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{756,147},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{1,293},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{152,293},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{303,293},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{454,293},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{605,293},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{756,293},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{1,439},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{152,439},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{303,439},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{454,439},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{605,439},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{756,439},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{1,585},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{152,585},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{303,585},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{454,585},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{605,585},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pzg0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{756,585},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_pzg.png</string>
            <key>size</key>
            <string>{1008,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0ffeef1d0aee7d7de134b007258fcbe:94f90ba26acbf770c96e59fd122ed1db:7681bdd22adb3070ea4f1cfe644916aa$</string>
            <key>textureFileName</key>
            <string>icon_pzg.png</string>
        </dict>
    </dict>
</plist>
